.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
}
.grid-item, .bombers {
    background-color: rgb(200, 200, 200);
    border: 1px solid rgb(0, 0, 0);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
div p {
    visibility: hidden;
}
/*.bombers {
    background-color: rgb(255, 0, 0);
}*/
input {
    display: block;
}